@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Karla);

body {
    margin: 0px;
	background-color: #f1f1f1;
    color: #333;

	background: url(../img/villains.jpg) no-repeat center center fixed; 
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  

  	min-width: 400px;
	max-width: 960px;     
    }
    

/* Header */
#header {
	position: absolute;
	width: 100%;
	text-align: center;

	min-height: 50px;
	padding-bottom: 10px;
	
	font-family: 'Comfortaa', cursive;
	color: grey;
	font-size: 26px;
    /*background-color: grey;
    opacity: 0.5;*/
	}

#mainWrapper {
padding-left: 750px;	

}
#mainContent {
	font-family: 'Karla', sans-serif;
	padding-left: 100px;

	/*background-color: blue;*/
}

/* Table styles */
table {
	width: 800px;
	padding-top: 150px;

	}


th{
	border-radius: 3px;
	color: #333;
	padding: 7px 10px 5px 10px;
	text-align: left;
	background-color: #d7d7d7;
	font-weight: bold;
	text-transform: uppercase;
	}

td {
	vertical-align:top;
	padding-top: 20px;
	}
	
td > img {
	width: 125px;
	}

/* footer */	
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;

  /*background-color: grey;
  opacity: 0.5;*/
 }

#footer p {
	font-family: 'Karla', sans-serif;
  font-size: 0.7em;
  color: gray;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  margin: 0px;
 }

