/*ACCORDION */

#accordion {
	max-width: 450px;	
	margin: 40px;
	font-family: 'Bitter', serif;
	line-height: 1.5em;
}
h3 {
	font-size: 2em;
	margin-bottom: 20px;
	font-weight: bold;
	
}

.accordion-toggle { 
    cursor:pointer; 
}

.accordion-content { 
    display:none; 
}
.accordion-content.default { 
    display:block; 
}
.accordion-box {
    padding: 1.5em 1em 2em 0;
}
.accordion-box p {
    margin-right: 40px;
}
